* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  min-height: 100vh;
}

html{
  box-sizing: border-box;
}

#profile__img{
  width: 64px;
  height: 64px;
  margin-top: 32px;  
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

#twitter{
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #101828;
  

}

.Annette-Black{
  text-align: center;
  margin-top: auto;
  top: 176px;
    padding: 10px;
}

.button{
  background: #EAECF0;
  border-color: #EAECF0;
  margin: auto;
  text-align: center;
  height: 78px;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 1152px;
  padding: 24px 32px 24px 32px ;
  gap: 8px;
}

.a-tag{
  display: flex;
  text-decoration: none;
  margin-top: 24px;
}
